body {
    background: #f0f0f0;
    text-align: center;
  }
  
  #controls {
    text-align: center;
  }
  
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .parastart {
  
  }
  
  #game {
  
    position: relative;
    /* width: 325px;
    height: 325px; */
    margin: 0 auto;
    margin-top: 10px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 4px;
  }
  
  #game span {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 4px;
  }
  
  #game span.number {
    cursor: pointer;
    font: bold 36px/80px Arial;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  #game span.empty {
    background: transparent;
  }
  
  #game span.number {
    background: rgb(141, 2, 2);
  }
  
  #game.animate span {
    -webkit-transition: 0.15s left, 0.15s top;
    transition: 0.15s left, 0.15s top;
  }
  
  hr {
    margin-top: 30px;
    border-width: 0;
    border-top: 2px solid #222;
    width: 80px;
    margin-bottom: 0px;
  }
  
  .name-letters {
    margin: 20px 0;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
  }
  
  .fifteen {
    font-size: 50px;
    font-weight: 800;
    opacity: 0.8;
    color: #c90505;
    letter-spacing: 2px;
  }
  
  #overlay-1,
  #overlay-2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
    font-family: "Indie Flower", cursive;
  }
  
  #text-1,
  #text-2 {
    font-family: "Indie Flower", cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .title-moves,
  #counter,
  .moves {
    font-size: 30px;
    font-weight: 800;
    mix-blend-mode: darken;
    /* opacity: 0.8; */
    color: #8b0000;
    letter-spacing: 4px;
  }
  
  input {
    background-color: #0c7dda;
    font-weight: 400;
    color: #212529;
    text-align: center;
    margin: 15px 0 0 0;
    min-width: 100px;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    margin: 15px 0 0 0;
    min-width: 100px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-outline-primary {
    color: #ffffff;
    border-color: #df273a;
    background-color: #df273a;
  }
  .btn-outline-primary:hover {
    background-color: #fff;
    color: #df273a;
    border-color: #df273a;
  }
  